<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

	<name>Get Numbers</name>

	<description>
		Atividade da aula de Aplicação Grafica
	</description>

	<author email="sidinei.silva02@gmail.com">
		Hardeep Shoker
	</author>

	<preference name="orientation" value="portrait" />   
	<preference name="fullscreen" value="true" />
	<icon src="icon.png" />
	<gap:splash src="splash.png"/>
</widget>